*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Times New Roman', Times, robo;
}
.linkhead{
    color: black;
    text-decoration-line: blink;
    
}
.linkhead-hm{
    color: #FFAA00;

    text-decoration-line: blink;
    
}
.btnclick{
    color: white;
    background: #124C5F;
    height: 39px;
    width: 101px;
}
.nav{
    font-size: x-large;

}
.btnlogin{
    background: #C7E7E1;
    height: 39px;
    width: 101px;
}
/* .main{
  background-color:   #FFF2B357
} */
.bckrndclr{
   background: #FFF2B357;
    height: 630px;
    margin-left: -13px;
    border-radius: 0% 100% 100% 0% / 52% 100% 0% 48% 
    
}
.imageProperties{
width: 50%;

}
.bg{
    background-color: #FFAA00;
}

.firstimage-proper{
    margin-left: 172%;
    margin-top: 15%;
}
.second-proper{
        margin-top: 39%;
    margin-left: 141%;
}
.third-proper{
    
    margin-top: -27%;
    margin-left: 243%;
}
.fourth-prop{
    margin-left: 90%;
    margin-top: -20%;
}